<div class="aut-header">
  <canvas id="aut-firework" aria-hidden="true"></canvas>
  <svg width="100%" height="100" xmlns="http://www.w3.org/2000/svg"
       version="1.1" role="img" aria-label="AUT NIHILO">
    <path id="aut-title-path" fill="none">
      <animate attributeName="d"
               from="m0,55 h80" to="m0,55 h1600"
               dur="2400ms" repeatCount="1" fill="freeze" begin="0s" />
    </path>
    <text font-size="36" font-weight="400" fill="#ffffff"
          x="50%" y="50%" text-anchor="middle"
          letter-spacing="8" word-spacing="14">
      <textPath href="#aut-title-path">AUT NIHILO</textPath>
    </text>
  </svg>
</div>
<script src="{{ "js/aut-header.js" | relURL }}" defer></script>
